$def with(datos)
<a href="/clientes"><h1>Delete Cliente</h1></a>


<form method="POST">
    <div class="form-group" style="width: 80%;margin: auto;">
        <label for="nombre">Nombre</label>
        <input  class="form-control form-control-sm" type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre" placeholder=".form-control-sm">
        <br>
        <label for="edad">Edad</label>
        <input  class="form-control form-control-sm" type="number" readonly="true" value="$datos.edad" id="edad" name="edad" placeholder=".form-control-sm">
        <br>
        <label for="email">Email</label>
        <input  type="email" class="form-control" readonly="true" value="$datos.email" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        <br>
        <label for="telefono">Telefono</label>
        <input  class="form-control form-control-sm" type="number" readonly="true" value="$datos.telefono" id="telefono" name="telefono" placeholder=".form-control-sm">"
        <br>
        <label for="tipo">Tipo</label>
        <input  class="form-control form-control-sm" type="text" readonly="true" value="$datos.tipo" id="tipo" name="tipo" placeholder=".form-control-sm">
        <br>
        <button  class="btn btn-primary btn-lg btn-block" type="submit" class="btn btn-primary">Delete</button>
    </div>
</form>